/* CSS */
/* #region */
/*Simple*/
@import url(https://db.onlinewebfonts.com/c/c5bd605b45237a12c99133fa9d7cae49?family=Helvetica+W01+Roman);
/* font-family: "Helvetica W01 Roman"; */
/*Pro*/

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "Courier Prime", monospace;*/

/* guld */
/*#E4C0A1*/
/* sort */
/*#444*/

body {
    background-color: #F6F1EB;
    overflow-x: hidden;
}

/* #endregion */
/* #region veryTop-Navigation*/
.veryTop-Navigation {
    display: flex;
    justify-content: right;
}

.veryTop-Navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.veryTop-Navigation ul li {
    margin: 0 .8rem;
}

.veryTop-Navigation ul li a {
    color: #444;
    font-family: "Helvetica W01 Roman";
    text-decoration: none;
    font-size: .8rem;
}

.veryTop-Navigation ul li a:hover {
    border-bottom: 1px solid #E4C0A1;
}

/* #endregion veryTop-Navigation*/
/* #region fixed-Navigation*/
.fixed-Navigation {
    font-family: "Helvetica W01 Roman";
    position: relative;
    background-color: #F6F1EB;
    margin: auto;
    justify-content: space-between;

    display: flex;
    width: 100%;
    padding: .4rem 1rem 0 1rem;
    transition: top 0.3s;
}

.fixed-Navigation ul {
    list-style: none;
    padding: 0;
    display: flex;

}

.fixed-Navigation ul li a {
    position: relative;
    top: .6px;
    margin: 0 .5rem;
    color: #444;
    text-decoration: none;
    padding: 2px;
    border-bottom: 0 solid #E4C0A1;
}

.fixed-Navigation ul li a:hover {
    border-bottom: 1px solid #E4C0A1;
}

.fixed-Navigation ul:last-of-type {
    margin-right: 1.3rem;
}

.fixed-Navigation ul li input {
    position: relative;
    left: 2rem;
    bottom: 6px;


    width: 140px;
    height: 30px;
    background-color: #fff;
    border: none;
    border: 1px solid #444;
    outline: none;
}

.fixed-Navigation ul li input::placeholder {
    color: #444;
    margin-left: 2rem;
    text-indent: 1.1rem;
}

.fixed-Navigation ul li input:active {
    outline: none;
}

.fixed-Navigation ul li input:focus {
    border: 1px solid #E4C0A1;
    text-indent: 1.1rem;
    overflow: hidden;
}

#searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
}


#searchBarImage {
    width: .75rem;
    position: absolute;
    left: 8.4rem;
    bottom: 2rem;
    opacity: .8;
}


.fixed-Navigation ul li img {
    width: 1.2rem;
    opacity: .8;
}

.fixed-Navigation ul li:nth-last-child(2) img {
    margin-left: .8rem;
}

.fixed-navigation_image img {
    width: 5.5rem;
    margin-right: 4.1rem;
}


.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* #endregion fixed-Navigation*/
/* #region HEADER */
.headerBigImg {
    padding-top: 60px;
    background-color: #F6F1EB;
}

.headerBigImg img {
    width: 100%;
}

/* #endregion HEADER */
/* #region TameYourLook */
.TameYourLook {
    height: 18rem;
    margin: auto;
    margin-top: 7%;
    width: 750px;
    text-align: center;
    color: #444;
}

.TameYourLook h1 {
    font-family: "Helvetica W01 Roman";
    text-transform: uppercase;
    word-spacing: 1rem;
    font-weight: 100;
    font-size: 2rem;
}

.TameYourLook h1 span {
    font-size: 2.3rem;
}

.TameYourLook p,
.TameYourLook a {
    font-family: 'Courier New', Courier, monospace;
    color: #444;
    text-decoration: none;
    border: none;
    margin: 0 0 1.5rem 0;
}

.TameYourLook a {
    border-bottom: 1px solid #444;
}

.TameYourLook a:hover {
    border-bottom: 1px solid #E4C0A1;
}

/* #endregion TameYourLook */
/* #region PAGES */
.grid-containerOne {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1200px;
    margin: auto;
    gap: 2.5%;
}

.grid-containerOne div {
    font-family: "Helvetica W01 Roman";
    font-size: .5rem;
    word-spacing: .5rem;
    letter-spacing: 1px;
}

.grid-containerOne div h2 {
    text-align: start;
    color: #444;
}

.grid-containerOne div p {
    font-size: .8rem;
    color: #444;
}

.grid-containerOne div img {
    width: 100%;
}

.grid-containerOne div img {
    transition: 400ms ease;
    cursor: pointer;
}

.grid-containerOne div img:hover {
    opacity: .5;
}

#gridcontainerTwo {
    margin-top: 10rem;
}

#products {
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
}





/* #endregion PAGES */
.spacer p {
    color: transparent;
    text-align: center;
    font-size: 2rem;
    font-family: "Helvetica W01 Roman";
}

/* #region FOOTER */
/* #region drop down lists */
.topList {
    background-color: #fff;
    margin: 0;
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.list-items {
    font-family: "Helvetica W01 Roman";
    letter-spacing: 2px;
    word-spacing: 5px;
}

.itemFlex {
    display: flex;
    cursor: pointer;
    width: fit-content;
}

.itemFlex a {
    color: #444;
    font-size: 1.4rem;
}

.itemFlex img {
    width: 1.3rem;
    margin-left: 3px;
    margin-top: 1.3px;
    opacity: .8;
}

/* JAVASCRIPT CLASSES */
.item-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.item-content.show {
    max-height: 500px;
}

/* drop down list */
.item-content ul {
    list-style: none;
    padding: 0;
}

.item-content ul li {
    text-decoration: none;
    margin: 1.5rem 0;
}

.item-content ul li a {
    text-decoration: none;
    color: #444;
    font-size: 1.1rem;
}

.item-content ul li a:hover {
    border-bottom: 1px solid #E4C0A1;
}

/* #endregion drop down lists */
.footerGrid {
    font-family: "Helvetica W01 Roman";
    font-weight: 100;
    color: #444;
    margin: .2rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 2rem 3rem;
    background-color: #fff;
    height: 9rem;
}


.left {
    text-align: left;
}

.left p,
.left a {
    font-size: .9rem;
    color: #444;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
}

.left h2,
.left ul li {
    text-transform: uppercase;
    font-size: 1.3rem;
}


.left a:first-of-type {
    margin-bottom: 2rem;
}

.left a {
    border-bottom: 1px solid #444;
    width: fit-content;
}

.left a:hover {
    border-bottom: 1px solid transparent;
}

/* #region FOOTER LEFT */
.left h2 {
    font-weight: 300;
    letter-spacing: 2px;
}

span {
    font-size: 1.6rem;
}

.left img {
    width: 1rem;
    opacity: .7;
    margin-left: .5rem;
    margin-top: 1.9rem;
}

.left ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 5rem;
}

/* #endregion FOOTER LEFT */
/* #region FOOTER center */
.left h2,
.center h2,
.right h2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
}

.left h2 span,
.center h2 span,
.right h2 span {
    font-size: 1.7rem;
}

.center p {
    font-size: 1rem;
    color: #444;
    margin: .5rem 1rem;
}

.center p span {
    font-size: 1.1rem;
}

.center a {
    margin: 0;
    padding: .8rem 5rem;
    color: #444;
    text-decoration: none;
    position: relative;
    top: 1.8rem;
    border-radius: .3rem;
    border: #444 solid 1px;
    transition: 400ms ease;
    font-weight: 600;
}

/* #endregion FOOTER center */
/* #region Right */
.soMe {
    margin: 0 0 0 5rem;
}

.soMe img {
    width: 2.5rem;
    margin: 1rem .4rem 0 0;
    opacity: .8;
}

/* #endregion Right */
/* #region FooterFooter */
/* #endregion FooterFooter */
.shipToDK {
    display: flex;
    margin: 0;
    text-transform: uppercase;
    font-family: "Helvetica W01 Roman";
    padding: 0 3rem;
    color: #444;
}

.shipToDK h2 {
    font-size: 1.3rem;
    font-weight: 100;
}

.shipToDK h2 span {
    font-size: 1.5rem;

}

.shipToDK img {
    width: 1.8rem;
    transform: rotate(180deg);
    opacity: .7;
    margin: 0 0 0 5px;
}

.footerFooter {
    background-color: #fff;
    height: 7.5rem;
    margin-top: .2rem;
    width: 100%;
}

.rights p {
    float: right;
    color: #444;
    font-size: 1.2rem;
    margin: 1rem;
}

.rights p span {
    font-size: 5;
}

.footerGrid,
.footerFooter {
    width: 100%;
}

/* #endregion FOOTER */
/* #region MEDIA */
@media (max-width: 1300px) {
    .grid-containerOne {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        gap: 1.5rem;
    }

    #scarves {
        padding: 5rem 0;
        text-align: center;
    }
}

@media (max-width: 1155px) {
    .soMe {
        width: 150px;
    }
}

@media (max-width: 770px) {
    .topList {
        grid-template-columns: repeat(1, 1fr);
    }

    .list-items {
        margin: .2rem;
        border-bottom: .2rem solid #F6F1EB;
        width: 100%;
    }

    .list-items:last-of-type {
        border: none;
    }

    .footerGrid {
        height: 11rem;
    }

    .soMe {
        width: 100px;
    }
}





/* #endregion MEDIA */
/* #region SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #E4C0A1;
    /* Color of the scrollbar thumb */
    border-radius: 1000px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #e4c0a1a9;
    /* Color when hovering over the scrollbar thumb */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Color of the scrollbar track */
    border-radius: 10px;
    /* Rounded corners */
}

html {
    scroll-behavior: smooth;
}

/* #endregion SCROLLBAR */